<!DOCTYPE>
<html>
<head>
   <style>
       img {
           width: 50%;
           float: left;
           margin: 10px
       }
       .p2 {
           clear: both;
       }
    </style>
</head>

<body>
    <img src="forest.jpg">
    <p class="p1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste inventore voluptatibus ipsum voluptate tempora eaque, nostrum quia similique sequi assumenda, placeat nesciunt rem, iusto debitis.</p>
    <p class="p2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo modi voluptas id sunt, quam, deserunt aspernatur. Molestiae accusamus cupiditate ipsam sunt ab. Reiciendis dolores itaque iure, fugiat quas autem eligendi unde alias obcaecati, dignissimos tenetur illum ad recusandae, voluptate adipisci repellendus perferendis distinctio. Architecto, culpa iste, deserunt optio officia accusamus laboriosam sequi neque? Rem nostrum ea provident laudantium iusto, corporis, quis minima eligendi quaerat dolore, dignissimos eius totam nobis obcaecati omnis labore maxime! Deleniti maxime non, quos recusandae ea velit veritatis saepe, voluptatem asperiores quas, odio dolor at. Earum ipsam nemo porro ducimus beatae ratione magnam, praesentium, voluptatem nulla culpa.</p>
</body>
</html>